<li {{ bindAttr class=":story state"}}>
  <div {{ bindAttr class=":icon storyType" }}>{{ typeAbbreviation }}</div>
  <span class="title">{{title}}</span>
  <div class="details">

    <p>{{description}}</p>

    <dl class="details-properties">
      {{#if reporter}}
        <div class="details-property">
          <dt class="property-key">Reported By</dt>
          <dd class="property-value">{{reporter.displayName}}</dd>
        </div>
      {{/if}}
      {{#if assignee}}
        <div class="details-property">
          <dt class="property-key">Assigned To</dt>
          <dd class="property-value">{{assignee.displayName}}</dd>
        </div>
      {{/if}}
      <div class="details-property">
        <dt class="property-key">Story Type</dt>
        <dd class="property-value">
          {{ view Ember.Select valueBinding="storyType" contentBinding="Trakio.Enums.issueTypes" }}
        </dd>
      </div>
      <div class="details-property">
        <dt class="property-key">State</dt>
        <dd class="property-value">
          {{ view Ember.Select valueBinding="state" contentBinding="Trakio.Enums.states" }}
        </dd>
    </dl>
  </div>
</li>