<h2>Projects</h2>

<ul class="projects">
  {{#each project in controller}}
    <li>{{#linkTo 'project' project class="project" }}{{project.name}}{{/linkTo}}</li>
  {{else}}
    <li class="zero">{{ t projects.index.zero }}</li>
  {{/each}}
</ul>

{{#view Trakio.CreateProjectButtonView }}
  <a class="button create" href="#">{{ t projects.create_button }}</a>
{{/view}}

{{view Trakio.ProjectNewView contentBinding="this"}}