<h2>{{name}}</h2>

<section class="stories-container">
  {{ template 'projects/actions' }}
  <header>{{ t stories.index.list.header }}</header>
  <ul class="stories">
    {{#each stories}}
      {{view Trakio.StoryLineItemView valueBinding="story"}}
    {{else}}
      <li class="zero">{{ t stories.index.zero_state }}</li>
    {{/each}}
  </ul>
</section>
